.navigation {
  width: 100%;
  background-color: #e1e808;
  position: absolute;

  .logo-icon{
    height: 60px;
    margin-left: 10px;
    padding: 0;

    img {
      height: 60px;
      float: left;
    }
  }

  .label-name {
    height: 60px;
  }

  .user-info {
    width: 120px;
    float: right;

    .name {
      height: 35px;
      display: table-cell;
      vertical-align: middle;
      padding: 0 5px;
    }

    .action {
      padding: 0 5px;

      a {
        float: right;
      }
    }
  }
}
